@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&family=Raleway&display=swap");

body {
  font-family: "Poppins", "Raleway", sans-serif;
  font-weight: 500;
  color: #fff;
  background: linear-gradient(113.49deg, #984d38 -30.3%, #181e41 58.12%)
    no-repeat;
  background: -webkit-linear-gradient(113.49deg, #984d38 -30.3%, #181e41 58.12%)
    no-repeat;
  background: -moz-linear-gradient(113.49deg, #984d38 -30.3%, #181e41 58.12%)
    no-repeat;
  position: relative;
}

a {
  text-decoration: none;
  color: #fff;
}

ul {
  list-style-type: none;
  padding: 0;
}

h1,
h2,
p {
  margin: 0;
  padding: 0;
}

.wrapper {
  margin: 0 auto;
  max-width: 1197px;
}

.container {
  margin: 0 15px;
}

.buttonTop {
  position: fixed;
  right: 40px;
  bottom: 40px;
  width: 64px;
  height: 64px;
  z-index: 50;
  background: url(../static/img/icons/upArrow.png);
  background-size: cover;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
}
/*https://www.flaticon.com/authors/freepik*/

.buttonTop.active {
  visibility: visible;
  opacity: 1;
  bottom: 40px;
}

.buttonTop.active::after {
  content: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0 110px 0;
}

.header__logo {
  display: block;
  width: 129px;
  height: 25px;
  background-image: url(../static/img/logo.svg);
  background-repeat: no-repeat;
}

.form {
  position: relative;
}

.form__button {
  display: block;
  width: 20px;
  height: 20px;
  background-image: url(../img/search.svg);
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  position: absolute;
  left: 12px;
  top: calc(50% - 10px);
}

.form__input {
  width: 384px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  border: none;
  padding: 10px 50px 10px 40px;
  color: #fff;
}

.form__input::placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-size: 20px;
}

.form__input:focus {
  outline: none;
}

.header__list {
  display: flex;
  gap: 30px;
  font-size: 20px;
}

.header__item {
  font-size: 20px;
}

.header__link {
  color: #fff;
}

.header__link:hover {
  border-bottom: 2px solid #b75cff;
}

.header__link_gradient {
  background: linear-gradient(214.02deg, #b75cff 6.04%, #671ae4 92.95%);
  background: -webkit-linear-gradient(214.02deg, #b75cff 6.04%, #671ae4 92.95%);
  background: -moz-linear-gradient(214.02deg, #b75cff 6.04%, #671ae4 92.95%);
  border-radius: 10px;
  padding: 10px 20px;
}

.header__link_gradient:hover {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  padding: 10px 20px;
}

.header__burger {
  display: none;
}

.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main__text {
  flex-basis: 490px;
}

.main__title {
  margin-bottom: 10px;
  margin-top: 0;
  font-size: 50px;
  line-height: 1.2;
  font-weight: 700;
}

.main__desc {
  font-size: 20px;
  line-height: 36px;
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 43px;
}

.main__btn {
  font-size: 20px;
  color: #fff;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1);
  padding: 11px 20px;
}

.main__btn_gradient {
  background: linear-gradient(214.02deg, #b75cff 6.04%, #671ae4 92.95%);
  margin-right: 17px;
}

.main__btn_gradient:hover {
  background: rgba(255, 255, 255, 0.5);
}

.main__list {
  display: flex;
  text-align: center;
  gap: 110px;
  margin-top: 53px;
  margin-bottom: 11px;
}

.main__item {
  font-size: 20px;
  line-height: 1.8;
  color: rgba(255, 255, 255, 0.5);
}

.main__span {
  display: block;
  color: #fff;
  font-size: 30px;
  font-weight: 700;
  line-height: 45px;
  margin-bottom: 8px;
}

.main__image {
  flex-basis: calc(100% - 490px - 116px);
}

.main__img {
  width: 100%;
}

.companies {
  display: flex;
  justify-content: space-between;
  margin-top: 163px;
  margin-bottom: 146px;
}

.error-page {
  display: flex;
  justify-content: center;
  margin: 90px 0;
  font-size: 25px;
  color: #fff;
}

.error-page__button {
  display: block;
  text-align: center;
  border-radius: 10px;
  background: linear-gradient(214.02deg, #b75cff 6.04%, #671ae4 92.95%);
  background: -webkit-linear-gradient(214.02deg, #b75cff 6.04%, #671ae4 92.95%);
  background: -moz-linear-gradient(214.02deg, #b75cff 6.04%, #671ae4 92.95%);
  padding: 20px 50px;
}

.error-page__button:hover {
  background: linear-gradient(45deg, #875cff 33%, #671ae4 60%);
  background: -webkit-linear-gradient(45deg, #875cff 33%, #671ae4 60%);
  background: -moz-linear-gradient(45deg, #875cff 33%, #671ae4 60%);
  text-shadow: 2px 5px 4px #000;
}

.artworks {
  margin-bottom: 140px;
}

.title {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.8;
  text-align: center;
  margin: 0 auto 4px;
  max-width: 390px;
}

.desc {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  text-align: center;
  margin: 0 auto;
  color: rgba(255, 255, 255, 0.5);
  max-width: 420px;
}

.card {
  display: flex;
  justify-content: center;
  margin-top: 29px;
  gap: 10px;
}

.card__item {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 26px;
  flex-basis: 32.5%;
  box-sizing: border-box;
}

.card__item:hover {
  background: rgba(255, 255, 255, 0.5);
  transition: 0.3s;
}

.card__cover {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 380px;
  border-radius: 10px;
}

.card__img {
  width: 100%;
  height: 380px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
}

.card__info {
  display: flex;
  justify-content: space-between;
  margin-top: 22px;
}

.card__nick {
  font-size: 20px;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 500;
  margin-bottom: 8px;
}

.card__author {
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
}

.card__bid {
  text-align: right;
  font-size: 15px;
  line-height: 20px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.5);
}

.card__price {
  display: block;
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
  color: #fff;
}

.card__link {
  display: block;
  text-align: center;
  position: relative;
  font-size: 20px;
  color: #fff;
  border-radius: 10px;
  background: linear-gradient(214.02deg, #b75cff 6.04%, #671ae4 92.95%);
  background: -webkit-linear-gradient(214.02deg, #b75cff 6.04%, #671ae4 92.95%);
  background: -moz-linear-gradient(214.02deg, #b75cff 6.04%, #671ae4 92.95%);
  padding: 10px 20px;
  margin-top: 26px;
  margin-bottom: 5px;
}

.card__link:hover {
  background: linear-gradient(45deg, #875cff 33%, #671ae4 60%);
  background: -webkit-linear-gradient(45deg, #875cff 33%, #671ae4 60%);
  background: -moz-linear-gradient(45deg, #875cff 33%, #671ae4 60%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.card__link::after {
  content: "";
  background-image: url(../img/border-for-btn.svg);
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  transition: 0.3s;
  opacity: 0;
}

.card__link:hover::after {
  opacity: 1;
}

.faq__questions {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.faq__item {
  flex-basis: 49%;
}

.faq__collapsable {
  background-color: transparent;
  cursor: pointer;
  padding: 24px 0;
  width: 100%;
  border: none;
  border-bottom: 1px solid #fff;
  margin-bottom: 28px;
  text-align: left;
  outline: none;
  font-size: 20px;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.5);
}

.active,
.faq__collapsable:hover {
  background-color: transparent;
  color: rgba(255, 255, 255, 1);
}

.faq__collapsable::after {
  content: "\002B";
  color: rgba(255, 255, 255, 0.5);
  float: right;
  margin-left: 5px;
}

.faq__collapsable:hover::after {
  color: rgba(255, 255, 255, 1);
}

.active::after {
  content: "\2212";
  color: rgba(255, 255, 255, 1);
}

.faq__content {
  max-height: 0;
  line-height: 1.5;
  font-size: 22px;
  overflow: hidden;
  transition: max-height 0.25 ease-out;
}

.banner {
  background: linear-gradient(214.02deg, #b75cff 6.04%, #671ae4 92.95%);
  background: -webkit-linear-gradient(214.02deg, #b75cff 6.04%, #671ae4 92.95%);
  background: -moz-linear-gradient(214.02deg, #b75cff 6.04%, #671ae4 92.95%);
  border-radius: 10px;
  padding: 50px 15px;
  text-align: center;
  margin-top: 105px;
  margin-bottom: 90px;
}

.banner__title {
  font-size: 50px;
  font-weight: 700;
  max-width: 500px;
  margin: 0 auto 32px;
  line-height: 1.5;
}

.banner__link {
  background: linear-gradient(214.02deg, #b75cff 6.04%, #671ae4 92.95%);
  background: -webkit-linear-gradient(214.02deg, #b75cff 6.04%, #671ae4 92.95%);
  background: -moz-linear-gradient(214.02deg, #b75cff 6.04%, #671ae4 92.95%);
  border-radius: 10px;
  font-size: 20px;
  padding: 10px 20px;
  color: #fff;
}

.banner__link:hover {
  background: rgba(255, 255, 255, 0.5);
}

@media (max-width: 1130px) {
  .wrapper {
    max-width: 900px;
    margin: 0 auto;
  }
  .header__list {
    gap: 20px;
  }
  .header__item {
    font-size: 16px;
  }
  .form__input {
    width: 280px;
    padding: 13px 13px 13px 40px;
  }
  .form__input::placeholder {
    font-size: 14px;
  }
  .main__text {
    flex-basis: 450px;
  }
  .main__title {
    font-size: 43px;
  }
  .main__desc,
  .main__btn,
  .main__item,
  .desc,
  .card__link,
  .faq__collapsable {
    font-size: 18px;
  }
  .main__list {
    gap: 40px;
    margin-top: 35px;
  }
  .main__image {
    flex-basis: calc(100% - 450px - 30px);
  }
  .main__span {
    font-size: 30px;
    line-height: 1.3;
  }
  .companies__img {
    height: 52px;
  }
  .title {
    font-size: 36px;
  }

  .banner {
    padding: 40px 15px;
  }

  .banner__title {
    font-size: 38px;
    max-width: 450px;
    margin: 0 auto 30px;
  }

  .banner__link {
    font-size: 26px;
    padding: 10px 18px;
    color: #fff;
  }

  .companies {
    margin-top: 130px;
    margin-bottom: 110px;
  }

  .companies__img {
    height: 5vw;
  }

  .card__cover,
  .card__img {
    height: 300px;
  }

  .card__nick,
  .card__author,
  .card__price {
    font-size: 16px;
  }
}

@media (max-width: 880px) {
  .wrapper {
    max-width: 750px;
  }
  .header__burger {
    display: flex;
    justify-content: flex-end;
  }
  .header {
    position: relative;
  }
  .header__menu {
    border: none;
    background: transparent;
    display: block;
    height: 35px;
    width: 35px;
    cursor: pointer;
  }
  .header__menu {
    background-image: url(../static/img/burger.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .header__menu.toggle {
    background-image: url(../static/img/cross.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    transition: 0.3s;
  }
  .header__list {
    display: block;
    position: absolute;
    background: #181e41;
    z-index: 50;
    top: 40%;
    right: 0;
    opacity: 0;
    visibility: hidden;
  }
  .header__list.toggle {
    opacity: 1;
    visibility: visible;
    transition: all 0.3s ease;
  }
  .header__item {
    margin-bottom: 20px;
    font-size: 22px;
    text-align: right;
  }

  .header__link_gradient {
    background: transparent;
    padding: 0;
    border-radius: 0;
  }

  .header__link:hover {
    border-bottom: 2px solid #671ae4;
  }

  .header__link_gradient:hover {
    background: transparent;
    padding: 0;
    border-radius: 0;
  }
  .title {
    font-size: 30px;
    line-height: 1.4;
  }

  .desc {
    padding-top: 20px;
  }

  .main {
    position: relative;
  }

  .main__text {
    flex-basis: 350px;
  }
  .main__title {
    font-size: 34px;
  }

  .main__list {
    gap: 30px;
  }

  .main__image {
    position: absolute;
    flex-basis: inherit;
    max-width: 300px;
    right: 0;
    bottom: 10%;
  }

  .card__item {
    padding: 15px;
  }

  .card__cover,
  .card__img {
    height: 30vw;
  }

  .card__info {
    flex-direction: column;
  }

  .card__nick {
    margin-bottom: 2px;
  }

  .card__author {
    margin-bottom: 8px;
  }

  .card__bid {
    text-align: left;
  }

  .artworks {
    margin-bottom: 100px;
  }

  .faq__content p {
    font-size: 18px;
  }

  .banner {
    margin: 85px 0 40px;
  }

  .banner__title {
    font-size: 30px;
  }
}

@media (max-width: 650px) {
  .wrapper {
    max-width: 450px;
  }

  .form {
    display: none;
  }

  .buttonTop {
    width: 50px;
    height: 50px;
  }

  .header__item {
    font-size: 24px;
    margin-bottom: 24px;
  }

  .main {
    justify-content: center;
  }

  .main__text {
    text-align: center;
    flex-basis: 100%;
  }

  .main__list {
    justify-content: center;
  }

  .main__image {
    display: none;
  }

  .title {
    font-size: 28px;
    line-height: 1.2;
  }

  .card,
  .companies,
  .faq__questions {
    flex-direction: column;
    justify-content: center;
  }

  .companies {
    margin-top: 70px;
    margin-bottom: 30px;
  }

  .companies__img {
    height: 40px;
    margin-bottom: 40px;
  }

  .card {
    margin: 30px auto;
    max-width: 300px;
  }

  .card__item {
    margin-bottom: 10px;
  }

  .banner__title {
    font-size: 24px;
  }

  .banner__link {
    font-size: 16px;
  }
  .card__cover,
  .card__img {
    height: 50vw;
  }
}
/*for very small phone*/
@media (max-width: 500px) {
  .main__title {
    font-size: 28px;
  }
  .main__desc,
  .main__btn,
  .main__item,
  .card__link,
  .faq__collapsable {
    font-size: 16px;
  }
  .card__cover,
  .card__img {
    height: 70vw;
  }
}
